.App-logo {
    position:absolute;
    height: 70px;
    top:10px;
    left: 20px;
    z-index: 1;
}

.App-header {
    position:absolute;
    align-items: center;
    left:0px;
    height: 80px;
    width: 100%;
    
    color: #dadff0;
    background-color: #1a2048;
    z-index: 1;
}

.title {
    position:absolute;
    font-size: 30px;
    left:150px;
    top:15px;
    margin: 0px;
    z-index: 1;
}